<!doctype html>
<html>
<head>
    <base href="/" />
    <title>Ducky</title>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="shortcut icon" type="image/png" href="img/ducky.gif" />

    <!-- MODULES -->
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angularfire/dist/angularfire.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <!-- **** -->

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="./resources/css/bootstrap.css">

    <!-- CSS-->
    <link rel="stylesheet" id="ppstyle" type="text/css" href="style.css">
    <!-- **** -->

    <!-- FONTS/ICONS -->
    <link rel='stylesheet' href='./resources/css/font-awesome.min.css' />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- **** -->

    <!-- ACE EDITOR -->
    <script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js" type="text/javascript" charset="utf-8"></script>
    <!-- **** -->

    <!-- JWPLAYER -->
    <script type="text/javascript" src="/utils/jwplayer/jwplayer.js"></script>
    <!-- **** -->

    <!-- JS DEPENDENCIES -->
    <script src="./resources/js/jquery-2.1.0.min.js"></script>
    <script src="./resources/js/bootstrap.js"></script>
    <script src="./resources/js/blocs.js"></script>
    <!-- **** -->
</head>
<body ng-app="FullstackGeneratedApp">
    <!-- Main container -->
    <side-bar></side-bar>
    <main-view></main-view>
    <script src="https://use.typekit.net/snz2cgr.js"></script>
    <script>
    try {
        Typekit.load({
            async: true
        });
    } catch (e) {}
    </script>
</body>
</html
