<!doctype html>
<html>
<head>
    <base href="/" />
    <title>Ducky</title>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="shortcut icon" type="image/png" href="img/ducky.gif" />

    <!-- MODULES -->
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angularfire/dist/angularfire.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <!-- **** -->

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="./resources/css/bootstrap.css">

    <!-- CSS-->
    <link rel="stylesheet" id="ppstyle" type="text/css" href="style.css">
    <!-- **** -->

    <!-- FONTS/ICONS -->
    <link rel='stylesheet' href='./resources/css/font-awesome.min.css' />
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,900' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <!-- **** -->

    <!-- ACE EDITOR -->
    <script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js" type="text/javascript" charset="utf-8"></script>
    <!-- **** -->

    <!-- JWPLAYER -->
    <script type="text/javascript" src="/utils/jwplayer/jwplayer.js"></script>
    <!-- **** -->

    <!-- JS DEPENDENCIES -->
    <script src="./resources/js/jquery-2.1.0.min.js"></script>
    <script src="./resources/js/bootstrap.js"></script>
    <script src="./resources/js/blocs.js"></script>
    <!-- **** -->
</head>
<body ng-app="FullstackGeneratedApp">
    <!-- Main container -->
    <div class="bgc-dark-jungle-green" id="sidenav" ng-controller="SidebarController" sidebar-directive="state">
        <div ng-if="sidebar" class="area" ng-controller="ChannelsCtrl">
            <div ui-sref="home" class="row title">
              <img id='ducky-icon' class="col-sm-3 ducky-icon" ng-click="duckyAnimate()" ng-src="img/ducky.gif">
              <h1 class="col-sm-9">DUCKY</h1>
            </div>

            <!-- TEMPLATE FOR TYPEAHEAD -->
            <script type="text/ng-template" id="customTemplate.html">
              <a class="searchRes" ui-sref="channel({username: match.model.user})">
                  <span class="searchTitle" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                  <span class="searchUser">{{match.model.user}}</span>
                  <span class="searchUser pull-right">{{match.model.category}}</span>
              </a>
            </script>
            <!-- **** -->

            <div class='search' ng-controller="TypeaheadCtrl">
                <span class="fa fa-search"></span>
                <input class="embedded-search form-control" placeholder="Search" type="text" ng-model="selected" uib-typeahead="channel as channel.title for channel in channels | filter:$viewValue | limitTo:20" typeahead-template-url="customTemplate.html">
                <span ng-click="reset()" class="fa fa-times-circle-o"></span>
            </div>
            <div class="auth-panel">
                <span class="login text-center" ng-if="!user" ui-sref='login'>Login</span>
                <span ng-if="user" class="logout text-center" ng-click="logout()">Logout</span>
            </div>
            <h3 ng-if="user"class="nav-headers">User</h3>
            <ul ng-if="user" class="user-options">
                <li ng-click="setActive('profile')" ui-sref="user_dashboard({userId:user._id})" ng-class="{active: activetab == 'profile'}">
                    <a href="#">
                        <span class="fa fa-user"></span>
                        {{user.username}}
                    </a>
                </li>
                <li ui-sref="subscribers"ng-click="setActive('following')" ng-class="{active: activetab == 'following'}">
                    <a href="#">
                        <span class="fa fa-plus"></span>
                        Subscribers
                    </a>
                </li>
            </ul>
            <h3 class="nav-headers">Browse</h3>
            <ul class="browse-options">
                <li ui-sref="channels" ng-click="setActive('channels')" ng-class="{active: activetab == 'channels'}"><a ><span class="fa fa-play"></span>Channels</a></li>
            </ul>
            <h3 class='nav-headers' ng-if="user">Subscribed Channels</h3>
            <ul class="recommended-channels" ng-if="user" ng-controller="ChannelsCtrl">
              <li ng-repeat="subs in subscriptions" ui-sref="channel({username:subs.$id})">
                <div class="row">
                  <img class="col-sm-3" src="/img/js_logo.jpg">
                  <h5 class="col-sm-9">{{subs.$id}}</h5>
                </div>
              </li>
            </ul>
        </div>
        <div ng-if="sidebar" class="icons">
            <a class="fa icon-bg-light icon-md" ng-class="{'fa-caret-right':!state, 'fa-caret-left':state }" ng-click="toggleState()"></a>
        </div>
        <div ng-if="!sidebar" class="icons">
            <div class="text-center">
                <a class="fa icon-bg-light icon-md" ng-class="{'fa-caret-right':!state, 'fa-caret-left':state }" ng-click="toggleState()"></a>
                <span ui-sref="home"><img class="fa ducky-icon"id='ducky-icon-xs'ng-click="duckyAnimate()" ng-src="https://static.gearslutz.com/board/customavatars/avatar211639_1.gif"></span>
                <span ui-sref="user_dashboard({userId:user._id})" class="fa fa-user icon-secondary icon-md"></span>
                <span ui-sref="channels" class="fa fa-search icon-secondary icon-md"></span>
                <span class="fa fa-github-alt icon-secondary icon-md"></span>
                <span class="fa fa-cog icon-bg-light icon-md"></span>
            </div>
        </div>
    </div>
    <div class="page-container" ng-class="{'sidebarOpen': sidebar, 'chatOpen': chat}">
        <ui-view class="fade"></ui-view>
    </div>
    <script src="https://use.typekit.net/snz2cgr.js"></script>
    <script>
    try {
        Typekit.load({
            async: true
        });
    } catch (e) {}
    </script>
</body>
</html
