<!doctype html>
<html >
<head>
    <base href="/" />
    <title>Fullstack Academy Generated Application</title>
    <script src="/lodash/index.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
    <script src="/angularfire/dist/angularfire.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
<!-- divy-->
    <script type="text/javascript" src="./browser/app.js"></script>
    <script type="text/javascript"></script>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="./browser/css/bootstrap.css">
    <link rel="stylesheet" id="ppstyle" type="text/css" href="./style.css">
    <link rel='stylesheet' href='./browser/css/font-awesome.min.css'/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/utils/jwplayer/jwplayer.js"></script>
    <script src="./browser/js/jquery-2.1.0.min.js"></script>
    <script src="./browser/js/bootstrap.js"></script>
    <script src="./browser/js/blocs.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
<!-- Main container -->
<div class="bgc-dark-jungle-green" id="sidenav" ng-controller="SidebarController" sidebar-directive="state">
    <div class="area bgc-deep-carmine-pink rabu-special">
    <h1>DUCKY.</h1>
    </div>
    <div class="icons">
    <div class="text-center">
        <a class="fa icon-bg-light icon-md" ng-class="{'fa-caret-right':!state, 'fa-caret-left':state }" ng-click="toggleState()"></a>
        <span ui-sref="user_dashboard" class="fa fa-user icon-deep-carmine-pink icon-md"></span>
        <span class="fa fa-search icon-deep-carmine-pink icon-md"></span>
        <span class="fa fa-file-code-o icon-deep-carmine-pink icon-md"></span>
        <span class="fa fa-comment icon-deep-carmine-pink icon-md"></span>
        <span class="fa fa-github-alt icon-deep-carmine-pink icon-md"></span>
        <span class="fa fa-cog icon-bg-light icon-md"></span>
    </div>
    </div>
</div>
<div class="page-container" ng-class="{'sidebarOpen': sidebar, 'chatOpen': chat}">
<!-- bloc-0 END -->
<ui-view></ui-view>
<!-- Main container END -->
</body>

<!-- Google Analytics -->

<!-- Google Analytics END -->

</html>
