#home {
	font-family: "proxima-nova",sans-serif;

	.home-header {
		// background-color: $primary-light;
		width: 100%;

		.stream-contain {
			padding-top: 2em;
			width: 70%;
			margin: 0 auto;
		}

		.log-in {
			color: #fff;
			font-size: 1.5em;
			float:right;
			margin-top: .6em;
			font-weight: 400;
		}

		h1	{
			margin: 0;
			font-size: 7em;
			font-family: 'Raleway', sans-serif;
			font-style: normal;
			font-weight: 900;
			// text-transform: uppercase;
			color: white;
			color: $secondary-dark;
			padding-top: .3em;
		}

		h2 {
			margin: 0;
			color: #fff;
		}

		.header-content {
			width: 80%;
			margin: 0 auto;
		}

		.hero-stream-info {
			h3, h4 {
				display: inline-block;
				float:left;
				clear:both;
			}

			h3 {
				font-weight: 700;
			}

			h4 {
				margin-top: 0;
			}

			span {
				position: relative;
				bottom: 1.8em;
				float: right;
				font-size: 1.2em;
				i {
					margin-right: .5em;
				}
			}
		}
	}

	.featured-streams {
		clear: both;
		text-align: center;
		margin: 0 auto;
		width: 80%;
		margin-top: 10em;

		h3 {
			margin: 0;
			font-family: "proxima-nova",sans-serif;
			font-size: 3em;
			font-weight: 700;
		}

		h4 {
			color: #999;
			font-family: "proxima-nova",sans-serif;
			font-size: 1.6em;
		}
	}

	.info {
		height: 60vh;
		background-color: $tertiary;
	}

	.streams-list {
		display: -webkit-flex; /* Safari */
		display: flex;
		-webkit-flex-direction: row; /* Safari */
		flex-direction: row;
		-webkit-flex-wrap: wrap; /* Safari */
		flex-wrap: wrap;
		-webkit-justify-content: space-around; /* Safari */
		justify-content:         space-around;
		margin-top: 3em;
	}

	.stream-card {
		flex: 0 0 23%;
		margin-bottom: 3em;

		img {
			width: 100%;
			height: auto;
		}

		a {
			width: 100%;
			height: 100%;
		}

		.stream-info {
			padding-top: .5em;
			text-align: left;
		}

		h5 {
			font-family: "proxima-nova",sans-serif;
			font-weight: 700;
			font-size: 1.5em;
			color: #333;
			margin-bottom: 0;
		}

		p {
			color: #999;
			font-size: 1.2em;
		}
	}
}

#bloc-2{
	background-color: $gray;
	padding:20px 0px;
	text-align: center;
	h3{
		color: $primary-light;
	}
	.a-block{
		text-align: center;
	}
}