<div id="streamer-chat" class="chatWindow" chat-directive="state">

    <div class="chatHeader">
        <h3>
            <a class="fa fa-comment pull-left" ></a>
                {{username}}
            <a class="fa fa-cog icon-bg-light icon-md pull-right"></a>
        </h3>
    </div>
    <div class="chatMessages">
        <ul class="list-group">
            <li class="list-group-item message" ng-repeat="message in messages">
                <span class="messageUser">{{message.from}}: </span>
                <span class="messageText">{{message.content}}</span>
                <span class="messageTime pull-right">{{convertTimestamp(message.timestamp)}}</span>
            </li>
        </ul>
    </div>
    <div class="chatEnter">
        <textarea ng-enter="addMessage()"class="chatInput" ng-model="message"></textarea>
        <a ng-click="addMessage()" class="btn btn-block">
            <span class="fa fa-comments-o icon-spacer"></span>Send
        </a>
    </div>

</div>