<div class="bgc-dark-jungle-green" id="sidenav" ng-class="{show: open.sidebar}" >
        <div ng-if="open.sidebar" class="area" >
            <div ui-sref="home" class="row title">
                <div class="col-sm-3 col-xs-3">
                    <img id='ducky-icon' class="ducky-icon img-responsive" ng-click="duckyAnimate()" ng-src="img/ducky.gif">
                </div>
                <div class="col-sm-9 col-xs-9">
                    <h1 >DUCKY</h1>
                </div>
            </div>

            <!-- TEMPLATE FOR TYPEAHEAD -->
            <script type="text/ng-template" id="customTemplate.html">
              <a class="searchRes" ui-sref="channel({username: match.model.user})">
                  <span class="searchTitle" ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                  <span class="searchUser">{{match.model.user}}</span>
                  <span class="searchUser pull-right">{{match.model.category}}</span>
              </a>
            </script>
            <!-- **** -->

            <div class='search' ng-controller="TypeaheadCtrl">
                <span class="fa fa-search"></span>
                <input class="embedded-search form-control" placeholder="Search" type="text" ng-model="selected" uib-typeahead="channel as channel.title for channel in channels | filter:$viewValue | limitTo:20" typeahead-template-url="customTemplate.html">
                <span ng-click="reset()" class="fa fa-times-circle-o"></span>
            </div>
            <div class="auth-panel">
                <span class="login text-center" ng-if="!user" ui-sref='login'>Login</span>
                <span ng-if="user" class="logout text-center" ng-click="logout()">Logout</span>
            </div>
            <h3 ng-if="user"class="nav-headers">User</h3>
            <ul ng-if="user" class="user-options">
                <li ng-click="setActive('profile')" ui-sref="user_dashboard({userId:user._id})" ng-class="{active: activetab == 'profile'}">
                    <a href="#">
                        <span class="fa fa-user"></span>
                        {{user.username}}
                    </a>
                </li>
                <li ui-sref="subscribers"ng-click="setActive('following')" ng-class="{active: activetab == 'following'}">
                    <a href="#">
                        <span class="fa fa-group"></span>
                        Subscribers
                    </a>
                </li>
            </ul>
            <h3 class="nav-headers">Browse</h3>
            <ul class="browse-options">
                <li ui-sref="channels" ng-click="setActive('channels')" ng-class="{active: activetab == 'channels'}"><a ><span class="fa fa-play"></span>Channels</a></li>
            </ul>
            <h3 class='nav-headers' ng-if="user">Subscribed Channels</h3>
            <div class="subscribed-channels">
                <ul class="recommended-channels" ng-if="user">
                  <li ng-repeat="(key, value) in subscriptions" ui-sref="channel({username:subs.$id})">
                    <div class="row">
                        <div class="col-sm-3 col-xs-3">
                            <img class="img-responsive" src="/img/js_logo.jpg">
                        </div>
                        <div  class="col-sm-9 col-xs-9">
                            <h5>{{key}}</h5>
                        </div>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        <div ng-if="open.sidebar" class="icons">
            <a class="fa icon-bg-light icon-md" ng-class="{'fa-caret-right':!open.sidebar, 'fa-caret-left':open.sidebar }" ng-click="toggleState()"></a>
        </div>
        <div ng-if="!open.sidebar" class="icons">
            <div class="text-center">
                <a class="fa icon-bg-light icon-md" ng-class="{'fa-caret-right':!state, 'fa-caret-left':state }" ng-click="toggleState()"></a>
                <span ui-sref="home"><img class="fa ducky-icon"id='ducky-icon-xs'ng-click="duckyAnimate()" ng-src="img/ducky.gif"></span>
                <span ui-sref="user_dashboard({userId:user._id})" class="fa fa-user icon-secondary icon-md"></span>
                <span ui-sref="channels" class="fa fa-search icon-secondary icon-md"></span>
                <span class="fa fa-github-alt icon-secondary icon-md"></span>
                <span class="fa fa-cog icon-bg-light icon-md"></span>
            </div>
        </div>
    </div>