<section id = "dashboard">
		<header class = "dashboard-header">
			<div class="container-fluid">	
		    	<img src="{{user.imageUrl}}?s=70">
				<h1>User Dashboard</h1>
				<div class = "nav-bar-right">
				<h2><span class="fa fa-user"></span> {{user.username}}</h2>
			</div>
	   	</header>

	</div>
	<div class = "dashboard-main container-fluid">
		<div class="row">
			<div class = "dashboard-streamer col-sm-4">
				<div class = "dashboard-title">
					<h2>Streamer's Corner</h2>
				</div>
				<div class = "each-dashboard">
					<div class ="information-holder">
						<h4 class = "info-titles">Title of your stream</h4>
						<input placeholder="{{userInfo.title}}" ng-model="newInfo.title"></input>
						<br>
						<br>
						<h4 class = "info-titles">Main Topic</h4>
						<select ng-model="newInfo.category">
							<option ng-repeat="category in categories">{{category.$id}}</option>
						</select>
						<button class="btn btn-sq" ng-click="updateChannel(newInfo)" id="update-btn">Update</button>
					</div>
				</div>
			</div>
			<div class = "dashboard-user col-sm-4">
				<div class = "dashboard-title">
					<h2>Analytics</h2>
				</div>
				<div class = "each-dashboard">
					<div class ="information-holder">
						<h4 class = "info-titles">Subscribers: {{subscribers[0]}}</h4>
						<br>
						<h4 class = "info-titles">New Followers This Week: {{subscribers[1]}}</h4>
						<br>
						<h4 class = "info-titles">Total Views: {{userInfo.views || 0 }}</h4>
					</div>
				</div>
			</div>

			<div class = "dashboard-user col-sm-4">
				<div class = "dashboard-title">
					<h2>User's Info</h2>
				</div>

				<div class = "each-dashboard">
					<div class ="information-holder">
						<h4 class = "info-titles">Subscribed Channels: </h4>
						<ul class="list-group">
							<li class="list-group-item" ui-sref="channel({username: user})"ng-repeat="(user,v) in subscriptions">
							{{user}}
							</li>
						</ul>
						<br>
						<h4 class = "info-titles">Recently Watched Channel: </h4>
						<div class="" ng-show="recent" ui-sref="channel({username: recent.user})">
							<div class="panel channel-thumb panel-sq">
								<div class="panel-heading">
						            <a class="profile-thumb col-sm-2">
						              <img src="{{recent.image}}">
						            </a>
									<h4 class="mg-clear">
										{{recent.user}} 
										<span class="fa fa-eye pull-right"><span class="viewsCounter rale">{{recent.views}}</span></span>
									</h4>
								</div>
								<div class="panel-body channel-thumb-body">
									<img src="{{recent}}">
									<p>
										{{recent.title}}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
