#sidenav {
    background-color: #333;
    font-family: "proxima-nova",sans-serif;
    color: white;
    text-align: left;
    h3 {
        font-family: "proxima-nova",sans-serif;
        margin-bottom: 1em;
        font-size: 1.2em;
    }
    .title {
        margin-bottom: 1.2em;
    }
    .area {
        h1 {
            font-family: "proxima-nova",sans-serif;
            color: white;
            &:hover {
            }
        }
        .user {
            color: white;
            padding-left: .4em;
            padding-bottom: 0;
        }
        .login, .logout {
            width: 100%;
            font-family: "Raleway",sans-serif;
            font-size: 1.2em;
            font-weight: 800;
        }
        .login {

        }
        .auth-panel {
            text-align: center;
            padding-top: 1em;
            padding-bottom: .8em;
            border-bottom: 1px solid grey;
            &:hover {
               background-color: RGBA(0,0,0,.4);
            }
        }
        .embedded-search {
            font-family: "proxima-nova",sans-serif;
            background-color: RGBA(0,0,0,.4);
            width: 100%;
            border: 0;
            padding: .5em 0;
            padding-left: 2em;
            text-indent: 2.5em;
        }
        .search {
            position: relative;
            padding-bottom: 1em;
            border-bottom: 1px solid grey;
        }
        .search .fa-search {
          position: absolute;
          top: 8px;
          left: 2em;
          font-size: 1.2em;
        }
        .fa-times-circle-o {
          z-index: 1;
          color: rgba(200, 200, 200, 0.3);
          position: absolute;
          top: 9px;
          right: 0em;
          font-size: 1.2em;
          &:hover {
            color: $primary-light;
          }
        }
        padding-left: 1em;
        padding-right: 1em;
        text-align: left;
        ul{
            padding-left: 0;
        }
        li {
            padding: .5em 0;
            padding-left: 2em;
            &:last-child {
            }
            &:hover {
               background-color: RGBA(0,0,0,.4);
               border-left: 2px solid $primary-light;
            }
            list-style: none;
            a {
                text-decoration: none;
                color: white;
            }
        }
        span {
            color: $secondary-dark;
            padding-right: 1.2em;
            font-size: 1.2em;
        }
    }
    .nav-headers {
        text-transform: uppercase;
        font-size: 1.2em;
    }
    .user-options, .browse-options, .recommended-channels {
         padding-bottom: 1em;
         border-bottom: 1px solid grey;
    }
    .user-options > li:first-of-type {
        margin-top: 1em;
    }
    .browse-options {

    }
    .active {
        border-left: 2px solid $primary-light;
        background-color: RGBA(0,0,0,.4);
    }
}

@-webkit-keyframes thumb {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(0.7); }
    100% { -webkit-transform: scale(1); }
}

.title img:hover {
    -webkit-animation-name: thumb;
    -webkit-animation-duration: 200ms;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}

#ducky-icon-xs{
    width:100%;
}
#ducky-icon-xs:hover{
    -webkit-animation-name: thumb;
    -webkit-animation-duration: 200ms;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: 2;
    -webkit-animation-timing-function: linear;
}

.icon-secondary {
    color: $secondary;
}

[ng-click],
[ui-sref]{
    cursor: pointer;
}

/*TYPEAHEAD*/


.dropdown-menu{
    padding: 0;
    width: 100%!important;
    background-color: none!important;
    box-shadow: 5px 0px 25px rgba(0,0,0,0.4)!important;
    .searchRes{
        width:100%;
        margin:0;
        background-color: none!important;
    }

    li:hover{
        background-color: $primary-dark!important;
        opacity: 1!important;
    }

    li{
        background-color: white!important;

        opacity: .9;
        padding: 0!important;
        overflow: hidden;
        a{

          border-bottom: 1px solid $primary-light;
          padding: 5px;
        background-color: white!important;

          .searchUser{
            color:$primary!important;
            font-size: 0.8em!important;
          }
          .searchTitle{
            display: block;
            color:$primary-light!important;
          }
        }
    }

}
