<div class=" fill-vh-fixed">
<div class="searchBar bloc l-bloc bgc-white fixed-top" id="bloc-10">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="mg-md">
					All Channels
				</h1>
			</div>
			<div class="col-sm-2">
				<div class="btn-group btn-block push-down-s">
					<a href="#" class="btn dropdown-toggle   btn-sq  btn-md btn-block btn-cat rale" data-toggle="dropdown" aria-expanded="false">{{searchCat||'Category'}}<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a ng-click="selCategory(undefined)" class="a-btn a-block">None</a>
						</li>
						<li ng-repeat="category in categories">
							<a ng-click="selCategory(category)" class="a-btn a-block">{{category}}</a>
						</li>

					</ul>
				</div>
			</div>
			<div class="col-sm-4">
				<form id="search" novalidate>
					<div class="form-group input-group">
						<input ng-model="search.$"class="form-control" placeholder="Search" />
						<span class="input-group-btn">
				        	<button class="btn btn-default" type="button"><a class="fa fa-search"></a></button>
				      	</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- bloc-0 END -->
<!-- bloc-1 -->
<div ng-if="loading">
  <img id='loader-main' class="col-sm-1 fa-spin" ng-src="https://www.firebase.com/resources/images/forge/loader.gif">
</div>
<div ng-if="!loading" class="bloc cloud half-n-half" id="bloc-11">
	<div class="container-fluid bloc-sm">
		<div class="row bg-js">
			<div class="col-sm-4 col-lg-3 animated fadeIn" ng-repeat="channel in channels | filter:search:undefined | filter:searchCat:true" ui-sref="channel({username: channel.user})">
				<div class="panel channel-thumb panel-sq">
					<div class="panel-heading">
            <a class="profile-thumb col-sm-2">
              <img src="{{channel.profilephoto}}">
            </a>
						<h4 class="mg-clear">
							{{channel.user}}
							<span class="fa fa-eye pull-right"><span class="viewsCounter rale">{{channel.views}}</span></span>
						</h4>
					</div>
					<div class="panel-body channel-thumb-body">
						<img src="{{channel.image}}">
						<p>
							{{channel.title}}
						</p>
					</div>
					<!-- <div class="panel-footer">
						Hello
					</div> -->
				</div>
			</div>
		</div>
		<div class="row bg-html">
		</div>
		<div class="row bg-css">
		</div>
	</div>
</div>
</div>

<!-- bloc-1 END -->


<!-- Footer - bloc-2 -->
<!-- <div class="bloc l-bloc bgc-white" id="bloc-2">
	<div class="container bloc-md">
		<div class="row">
			<div class="col-sm-3">
				<h3 class="mg-md">
					About
				</h3><a href="index.html" class="a-btn a-block">The team</a><a href="index.html" class="a-btn a-block">Contact us</a>
			</div>
			<div class="col-sm-3">
				<h3 class="mg-md">
					Get the App
				</h3><a href="index.html" class="a-btn a-block">iPhone</a><a href="index.html" class="a-btn a-block">Android</a>
			</div>
			<div class="col-sm-3">
				<h3 class="mg-md">
					Follow us
				</h3><a href="index.html" class="a-btn a-block">Twitter</a><a href="index.html" class="a-btn a-block">Facebook</a>
			</div>
			<div class="col-sm-3">
				<h3 class="mg-md">
					Company
				</h3><a href="index.html" class="a-btn a-block">Terms of use</a><a href="index.html" class="a-btn a-block">Privacy</a>
			</div>
		</div>
	</div>
</div> -->
<!-- Footer - bloc-2 END -->
<!-- Main container END -->
