.login-header {
	position: relative;
	text-align: center;
	h1 {
		font-family: $main-font;
		font-weight: 700;
		margin-bottom: .5em;
		margin: 0;
		color: white;
		position:absolute;
		bottom: 10px;
		font-size: 5em;
		text-align: center;
	}
	padding: 0 20%;
	background-color: $primary-light;
	height: 20vh;
}
.ngFade {
	transition:all 0.2s ease-in-out ;
	transform: translateX(0);
	opacity: 1;
}
 
.ngFade.ng-hide-remove {
	opacity: 0;
	transform: translateX(-10px);
}
.ngFade.ng-hide-add {
	opacity: 0;
}

#login-form {
	width: 400px;
	margin: 0 auto;
	margin-top: 7em;

	input {
		border-radius: 0;
		padding: 18px 15px;
	}

	label {
		font-weight: 400;
	}

	button {
		margin-top: .5em;
		border-radius: 0;
		background-color: $primary-light;
		color: #fff;
		border: none;
		font-weight: 600;
		padding: 8px 25px;
	}
}