<section id="home">
    <header class="home-header half-n-half">
        <div class="header-content">
            <a ng-if="!user" ui-sref="login" class="log-in">Log In</a>
            <h1>Ducky</h1>
            <h2>ラバーダキ</h2>
            <div class="stream-contain">
                <div id="hero-stream">
                </div>
                <div class="hero-stream-info">
                    <h3>Stream Title</h3>
                    <h4>jmeeker working in Javascript</h4>
                    <span><i class="fa fa-user"></i>14</span>   
                </div>
            </div>
        </div>
    </header>
    <div class="featured-streams">
        <h3>Featured Streams</h3>
        <h4>Users streaming right now</h4>
   		<div class="streams-list" ng-controller="ChannelsCtrl">
	   		<div class="stream-card" ng-repeat="channel in channels">
	   			<a href="#">
	   				<img src="{{channel.image}}">
	   				<div class="stream-info">
	   					<h5>{{channel.user}}</h1>
	   					<p>{{channel.title}}</p>
	   				</div>
	   			</a>
	   		</div>
	   	</div>
   	</div>
</section>
