.no-pad{
	padding-left: 0;
}
.push-down-xs{
	margin-top:10px;
}
.push-down-s{
	margin-top:15px;
}
.icon-lg{
	font-size:80px!important;
}

.txt-r{
	text-align: right;
}

.mg-sm-tb{
	margin-top: 10px;
	margin-bottom: 10px;
}

#code-editor{
	height:90vh;
}

#code-editor >div{
	height:100%;
}

#streamer{
	width: 100%;
}

#code-editor >div>div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:0;
}
#toolbar{
	height: 40px;
	z-index: 6;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.4)
}

#toolbar .btn{
	font-weight: 900;
	height:40px;
	color:$secondary!important;
	background-color: $primary-light;
}
.ace_gutter-layer{
	width:50px!important;
}
#code-editor .panel-footer{
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
#editor{
	top:40px!important;
	width: 100%;
}
body > div{
	display: inline-block;
}
#sidenav{
	position: fixed;
	top: 0;
	left: -250px;
	bottom: 0;
	padding:20px 5px;
  	transition : 100ms left;
  	z-index: 2;
  	width:300px;
}

.chatWindow{
	position: fixed;
	top: 0;
	right: -350px;
	bottom: 0;
	padding:20px 5px;
  	transition : 100ms right;
  	z-index: 2;
  	width:350px;
}

.chatWindow > a{
	right:20px;
	position:fixed;
	top:50px;
	transition : 100ms right;
}


.iconMove{
	right:360px!important;
}

.showChat {
    right: 0px !important;
}

#sidenav .icons{

	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width:50px;
	padding:20px 5px;
    a {
        margin-bottom: 1em;
        &:hover {
            color: $primary-light;
        }
    }

}

.area {
	text-align: center;
}
.area h1{
	font-family: 'Source Code Pro' ;
	margin-top: 0;
	color: rgba(0,0,0,0.3);
	text-shadow: 0px 1px 0px white;
}
.show {
    left: 0px !important;
}
#sidenav .icons>div>span{
	margin-bottom: 25px;
	display: block;
}
#sidenav .icons>div>span:last-of-type{

	position:absolute;
	left:10px;
	bottom:0;
}

#sidenav .area{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 300px;
	padding:20px 5px;
}

.icon-bg-light{
	color: rgba(200,200,200,0.3);
}

.page-container{
	position: absolute;
	left:50px;
	right:0;
  	transition : 100ms left;
  	transition : 100ms right;

}

.sidebarOpen{
	left:300px!important;
}
.chatOpen{
	right:350px!important;
}
.chatWindow > div{
	position: absolute;
	width: 340px;
}
.chatHeader{
	text-align: center;
	top: 0;
	height:50px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
	z-index:2;
	color:$primary-light;
}
.chatHeader >h3{
	position: relative;
	margin:1rem;
}

.chatHeader >h3>a{
	color:#77B59C;
}
.chatHeader >h3>a:hover{
	color:#ED3B3B;
}

.chatMessages{
	top:50px;
	background-color: white;
	bottom:140px;
	overflow: scroll;
}

.message{

}

.messageUser{
	font-weight: bold;
	color:#ED3B3B;
}

.messageText{
	color: black;
}

.chatEnter{
	padding: 5px 0 ;
	bottom: 0;
	height:140px;

}
.chatInput{
	width:100%;
	height:90px;
}
/*-----CHANNELS--------*/
.fill-vh-fixed{
	max-height: 100vh;
	overflow: hidden;
}
.fixed-top{
	position: fixed;
	background-color: $primary-light!important;
}

.searchBar{
	box-shadow: 1px 10px 25px rgba(0,0,0,0.5)!important;
	z-index: 2;
}

.channel-thumb{
	img {
		width: 100%;
		height: auto;
	}

	background-color: black;
	background-blend-mode: multiply;
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
	// opacity:1;
	/*height: 40vh;*/
	box-shadow: 1px 10px 30px rgba(0,0,0,0.4)!important;
	background-color: $secondary;
	margin-bottom:50px;
	border-radius: 10px;
}

.channel-thumb .panel-heading{
	background-color:#444;
	color:white;
}

// .channel-thumb-body{
// 	opacity: 0;
// }
// .channel-thumb-body:hover{
// 	opacity: 1;
// }

.panel-footer{
	position: absolute;
	bottom:50px;
	width:100%;
}

.i-red{
	color: red;
}
.half-n-half{
	background: white;
    background: -webkit-linear-gradient($primary-light 50%, white 50% )!important;
    background: -o-linear-gradient($primary-light 50%, white 50% )!important;
    background: -moz-linear-gradient($primary-light 50%, white 50% )!important;
    background: linear-gradient($primary-light 50%, white 50% )!important;
}
.viewsCounter{
	font-weight: 900;
	color: $primary-light;
	margin-left: 5px;
}
.cloud{

	height: 100vh;
	overflow: scroll;
}
.bg-js{
	background-image: url('img/languages/js.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	height:100vh;
}
.bg-html{
	background-image: url('img/languages/html.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}
.bg-css{
	background-image: url('img/languages/css.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
}


.cloud .bloc-sm{
	padding:20px 0px;
}

.btn-cat{
	color:$secondary!important;
	font-weight: 900;
	font-size: 1.4em!important;
}
.btn-cat:hover{
	color:$secondary-dark!important;
}

#search{
	margin-top:20px;
}

#bloc-10 h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	color: $secondary-dark;
	font-size: 5rem;
    /*-webkit-text-stroke: 2px $primary-light;*/
    /*text-shadow: 0px 5px 0px $primary;*/
}
#bloc-11 h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;

}

.fa:hover{
	transform: rotate(360deg);
}
.fa{
	transition: transform 0.5s
}

#offline {
    h3 {
        color: $primary;
    }
}

#directory{
	overflow:scroll;
	max-height: calc(100% - 80px)!important;
}


