$primary:#016BBF;
$primary-light: #00BFE8;
$primary-dark: #22507D;
$secondary:#FFD501;
$secondary-light:#DCD34B;
$secondary-dark:#FFD501;
$tertiary:#FF5F41;
$gray:#333;

$main-font: "proxima-nova",sans-serif;

* {
  box-sizing: border-box;
}


body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

#sidenav {
	background-color: #333;
}

.page-container{
  width: calc(100% - 50px)!important;
  min-height: 100vh;
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'channel/channel';
@import 'master/master';
@import 'sidebar/sidebar';
@import 'user.dash/main';
@import 'signup/signup';
@import 'start/start';
@import 'animate';