$primary:#016BBF;
$primary-light: #00BFE8;
$primary-dark: #22507D;
$secondary:#FFD501;
$secondary-light:#DCD34B;
$secondary-dark:#FFD501;
$tertiary:#FF5F41;

$main-font: "proxima-nova",sans-serif;

* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

#sidenav {
	background-color: #333;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'channel/channel';
@import 'master/master';
@import 'sidebar/sidebar';
